
body{
  margin: 0;
  padding: 0;
  background-color: gray;
}
nav{
  position: absolute;
  width: 200px;
  top:30%;
  right: -30px;
}
nav ul {
  list-style: none;
}
nav ul li{
  position: relative;
  display: flex;
  width: 200px;
  height: 50px;
  left: -30px;
  transition: all 2s;
  align-items:  center;
}
nav ul li svg{
  position: relative;
  width: 200px;
  top: 40px;
}
nav ul li svg polygon{
  position: relative;
  left:100px;
}
nav ul li .symbol{
  position: absolute;
  width: 30px;
  height: 10px;
  left: 120px;
  top: 0px;
  pointer-events: none;
  transition: all 1s;
}
nav ul li svg .title{
  opacity: 0;
  text-align: center;
  pointer-events: none;
}

nav ul li svg polygon:hover + .title{
  transition: opacity 2.5s, color 1s;
  transition-delay: 0.2s;
  opacity: 1;
  fill:white;
}
nav ul li svg polygon:not(:hover) + .title{
  transition: opacity 0.3s, color 1s;
  opacity: 0;
  fill:black;
}
nav ul li svg polygon:hover ~ .symbol{
  transition-duration: 1.9s;
  transform: translateX(-100px);
  fill:white;
}
